header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    margin: 0%;
    width: 100%;                  
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    background-color: rgb(5, 67, 34)
    /* rgb(3, 56, 28) */
}

.linha  {
    position: relative ;
    display: flex;
    flex-direction: row;
}

.ola {
    margin: 1% 0% 0% 1%;
    font: times;
    font-size: 30px;
    font-weight: bold;  
    color: whitesmoke;
}

.pesquisar {            
    margin: 1%;
    width: 40px; 
    height: 40px; 
    display: inline-block;
}

#lupa {
    width: 10%; 
    position: absolute;
    right: .1rem;
    top: .1rem;
}

main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin: 2px;
    gap: 20px;
}

h2 {
    font: times;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    color: whitesmoke
}

svg {
    width: 30%;               
    height: auto;             
    display: flex;
    margin: 0 auto;
}

#circunferencia_horas {

    stroke: rgb(251, 0, 0); 
    stroke-width: 16;
    fill: none;
    stroke-dasharray: 400 90; 
    stroke-dashoffset: 325;    
    stroke-linecap: round;     
}

#circunferencia_30 {
    stroke: rgb(223, 230, 22); 
    stroke-width: 16;
    fill: none;
    stroke-dasharray: 290 200;
    stroke-dashoffset: 313;   
    stroke-linecap: round;
}

#circunferencia_40 {
    stroke: rgb(30, 143, 208); 
    stroke-width: 16;
    fill: none;
    stroke-dasharray: 400 270;
    stroke-dashoffset: 340;   
    stroke-linecap: round;
}

#circunferencia_20 {
    stroke: rgb(30, 255, 0); 
    stroke-width: 16;
    fill: none;
    stroke-dasharray: 400 420;
    stroke-dashoffset: 320;   
    stroke-linecap: round;
}
    
.circunferencia_horas_texto {
    text-anchor: middle;
    font: times;
    font-size: 20px;
    fill:whitesmoke;
}

ul {
    display: flex;               
    justify-content: space-between;
    padding: 0;                
    margin: 3% 0 0 0;   
}

li {
    margin-right: 3%;         
}

#psicologia {
    text-decoration: none;
    color: rgb(223, 230, 22);
}

#imunologia {
    text-decoration: none;
    color:rgb(30, 143, 208)
}

#epidemologia {
    text-decoration: none;
    color:rgb(30, 255, 0)
}

#outros {
    text-decoration: none;
    color:rgb(251, 0, 0)
}

#artigos_relevantes {
    display: flex;
    justify-content: left;
    margin-left: 1%;
}

.caixinhas {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: 20px 0 0 0;
    gap: 10px; 
}

.caixinhas a {
    text-decoration: none;
    color: whitesmoke; 

    display: block; 
    width: 48%; 
    padding: 20px; 
    margin: 5% ; 
    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.700); 
    background-color: rgba(255, 255, 255, 0.041); 
    border: 1px solid rgba(255, 255, 255, 0.012); 
    border-radius: 15px; 

    backdrop-filter: blur(10px); 
    transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
}

a:hover {
    transform: translateY(-6px) scale(1.05); 
}

