header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    margin: 0%;
    width: 100%;                  
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
}

.ola {
    margin: 0%;
    font: times;
    font-size: 30px;
    font-weight: bold;  
}

.pesquisar {
    margin-left: auto;             
    margin-top: 1%;              
}

main {
    display: flex;
    justify-content: center; /* sempre para o x */
    align-items: center; /* sempre para o y */
    flex-direction: column;
    margin: 2px;
    gap: 20px;
}

h2 {
    font: times;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

svg {
    width: 30%;               
    height: auto;             
    display: block;
    margin: 0 auto;
}

#circunferencia_horas {

    stroke: rgb(251, 0, 0); 
    stroke-width: 16;
    fill: none;
    stroke-dasharray: 400 90; 
    stroke-dashoffset: 325;    
    stroke-linecap: round;     
}

#circunferencia_30 {
    stroke: rgb(223, 230, 22); 
    stroke-width: 16;
    fill: none;
    stroke-dasharray: 290 200;
    stroke-dashoffset: 313;   
    stroke-linecap: round;
}

#circunferencia_40 {
    stroke: rgb(30, 143, 208); 
    stroke-width: 16;
    fill: none;
    stroke-dasharray: 400 270;
    stroke-dashoffset: 340;   
    stroke-linecap: round;
}

#circunferencia_20 {
    stroke: rgb(30, 255, 0); 
    stroke-width: 16;
    fill: none;
    stroke-dasharray: 400 420;
    stroke-dashoffset: 320;   
    stroke-linecap: round;
}
    
.circunferencia_horas_texto {
    text-anchor: middle;
    font: times;
    font-size: 20px;
}

ul {
    display: flex;               
    justify-content: space-between;
    padding: 0;                
    margin: 3% 0 0 0;   
}

li {
    margin-right: 3%;         
}

#psicologia {
    text-decoration: none;
    color: rgb(223, 230, 22);
}

#imunologia {
    text-decoration: none;
    color:rgb(30, 143, 208)
}

#epidemologia {
    text-decoration: none;
    color:rgb(30, 255, 0)
}

#outros {
    text-decoration: none;
    color:rgb(251, 0, 0)
}

#artigos_relevantes {
    display: flex;
    justify-content: left;
}





