
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    background-color:rgb(5, 67, 34)
    /* rgb(3, 56, 28) */
}

.linha  {
    position: relative ;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
header  {
    margin-left: 2rem;
    margin-right: 2rem;
}
header ul {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 2rem;
    border: 1px solid snow;
    border-radius: 1rem;
}

#pesquisa_pesquisar {
    color: snow;
    margin-left: .5rem;
    width: 1.3rem;
}

#microfone_pesquisar {
    position: absolute;
    width: 2rem;
    height: 1.7rem;
    top: .2rem;
    right: .4rem;

}

main    {
    display: flex;
    justify-content: center;
}

main ul    {
    text-align: center;
}

main h2 {
    text-align: center;
    font-size: 1.8rem;
    color: snow;
}

.primeiro li  {
    margin: 1rem;
    height: 5rem;
    width: 8rem;
}

.primeiro img  {
    width: 5rem;
}

.primeiro a    {
    color: snow;
    text-decoration: none;
}


